# # EB5204 New Media & Sentiment Mining - Naive Bayes and SVM Classifier

In [157]:
%matplotlib inline
import matplotlib.pyplot as plt
import json
import os
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.classify import NaiveBayesClassifier
from nltk import pos_tag
from sklearn.metrics import classification_report
import numpy as np
import itertools
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from __future__ import unicode_literals
import spacy
import re

### Load 1 review dataset

In [2]:
with open(os.path.join('data', 'reviews', 'yelp_menya-musashi-singapore?start=.json')) as read_file:
    reviews = json.load(read_file)

In [3]:
len(reviews['review'])

18

In [4]:
reviews['review'][0]

{'author': 'Conan H.',
 'datePublished': '2013-01-22',
 'description': "Its above average as ramen goes - and a real value meal if you order the tsukemen because you can order up to 5 portions of noodles for the same price. Perfect for the hungry hippo.\n\nThe black soup comes recommended. Service is typical Singaporean nonsense.\n\nI lived in Tokyo for over a decade and am a purveyor of good ramen. 5 years ago there were only mediocre places. Now you have this, Ippudou and Tonkotsu King. I'd say the latter is one of the best.",
 'reviewRating': {'ratingValue': 4}}

In [5]:
reviews['aggregateRating']

{'@type': 'AggregateRating', 'ratingValue': 3.5, 'reviewCount': 18}

### Load all the reviews

In [6]:
reviews = []
for afile in os.listdir(os.path.join('data', 'reviews')):
    if os.path.isfile(os.path.join('data', 'reviews', afile)):
        print(afile)
        with open(os.path.join('data', 'reviews', afile)) as read_file:
            reviews.append(json.load(read_file))

yelp_wild-honey-singapore?start=.json
yelp_imperial-treasure-super-peking-duck-singapore?start=.json
yelp_anti-dote-singapore?start=.json
yelp_trattoria-gallo-d-oro-singapore?start=.json
yelp_mortons-the-steak-house-singapore?start=.json
yelp_peperoni-pizzeria-singapore-8?start=.json
yelp_candlenut-singapore-2?start=.json
yelp_food-for-thought-singapore?start=.json
yelp_madrinaa-italiano-singapore?start=.json
yelp_robolots-singapore?start=.json
yelp_corner-house-singapore?start=.json
yelp_cut-singapore-2?start=.json
yelp_long-phung-vietnamese-restaurant-singapore?start=.json
yelp_first-thai-food-singapore?start=.json
yelp_two-men-bagel-house-singapore?start=.json
yelp_little-saigon-singapore?start=.json
yelp_ikyu-singapore?start=.json
yelp_silver-kris-lounge-singapore?start=.json
yelp_28-hong-kong-street-singapore?start=.json
yelp_le-bistrot-du-sommelier-singapore?start=.json
yelp_jones-the-grocer-singapore-3?start=.json
yelp_jaan-singapore?start=.json
yelp_trattoria-lafiandra-singapore-2?start=.json
yelp_bar-stories-singapore-2?start=.json
yelp_khansama-tandoori-singapore?osq=indian?start=.json
yelp_dulukala-peranakan-house-singapore?start=.json
yelp_tawandang-microbrewery-singapore?start=.json
yelp_the-auld-alliance-singapore-2?start=.json
yelp_montana-brew-bar-singapore?start=.json
yelp_freshly-baked-by-le-bijoux-singapore?start=.json
yelp_fatboys-the-burger-bar-singapore-3?start=.json
yelp_the-populus-coffee-and-food-co-singapore?start=.json
yelp_chilis-singapore-3?start=.json
yelp_brewerkz-singapore-2?start=.json
yelp_potato-head-folk-singapore-2?start=.json
yelp_new-ubin-seafood-singapore?start=.json
yelp_hooters-singapore?start=.json
yelp_the-assembly-ground-singapore?start=.json
yelp_the-white-rabbit-singapore?start=.json
yelp_the-coastal-settlement-singapore?start=.json
yelp_zam-zam-restaurant-singapore?osq=indian?start=.json
yelp_the-line-singapore?start=.json
yelp_istanbul-grills-and-cafe-singapore?start=.json
yelp_burger-joint-singapore?start=.json
yelp_morganfields-singapore?start=.json
yelp_national-kitchen-by-violet-oon-singapore-2?start=.json
yelp_namnam-noodle-bar-singapore?start=.json
yelp_garibaldi-italian-restaurant-and-bar-singapore-2?start=.json
yelp_mrs-pho-singapore?start=.json
yelp_veganburg-singapore?start=.json
yelp_oriole-coffee-bar-singapore-2?start=.json
yelp_level33-singapore?start=.json
yelp_yhingthai-palace-singapore-2?start=.json
yelp_tolidos-espresso-nook-singapore?start=.json
yelp_mos-cafe-singapore?start=.json
yelp_violet-oons-kitchen-singapore?start=.json
yelp_jai-thai-singapore?start=.json
yelp_arbite-singapore?start=.json
yelp_club-street-social-singapore-3?start=.json
yelp_ps-cafe-singapore-8?start=.json
yelp_chilis-singapore?start=.json
yelp_w39-singapore?start=.json
yelp_salt-tapas-and-bar-by-luke-mangan-singapore?start=.json
yelp_omakase-burger-singapore-3?start=.json
yelp_outback-steakhouse-downtown-core?start=.json
yelp_alfresco-gusto-singapore?start=.json
yelp_andiamo-gelateria-singapore?start=.json
yelp_zouk-singapore-singapore?start=.json
yelp_pasta-fresca-da-salvatore-singapore-7?start=.json
yelp_blue-ginger-singapore?start=.json
yelp_black-angus-steakhouse-singapore?start=.json
yelp_el-mero-mero-singapore?start=.json
yelp_the-university-club-lounge-and-dining-room-singapore?start=.json
yelp_vatos-urban-tacos-singapore?start=.json
yelp_harrys-singapore-8?start=.json
yelp_comnam-singapore?start=.json
yelp_tobys-estate-singapore?start=.json
yelp_cafe-by-the-quad-singapore?start=.json
yelp_antoinette-singapore?start=.json
yelp_the-black-swan-singapore?start=.json
yelp_boomarang-singapore?start=.json
yelp_saveur-singapore?start=.json
yelp_mondo-mio-singapore-singapore?start=.json
yelp_super-loco-singapore?start=.json
yelp_the-long-bar-singapore?start=.json
yelp_the-boiler-seafood-bar-and-beer-singapore?start=.json
yelp_loof-singapore?start=.json
yelp_canelé-pâtisserie-chocolaterie-singapore-3?start=.json
yelp_jigger-and-pony-singapore?start=.json
yelp_the-market-grill-singapore?start=.json
yelp_prego-singapore?start=.json
yelp_artichoke-cafe-and-bar-singapore?start=.json
yelp_hard-rock-cafe-singapore-2?start=.json
yelp_lei-garden-singapore-2?start=.json
yelp_the-clifford-pier-singapore?start=.json
yelp_quentins-singapore-2?start=.json
yelp_good-o-times-singapore?start=.json
yelp_fat-cow-singapore?start=.json
yelp_meat-smith-singapore-2?start=.json
yelp_iggys-singapore?start=.json
yelp_ivins-nyonya-specialist-singapore?start=.json
yelp_straits-cafe-singapore?start=.json
yelp_chilli-padi-nonya-singapore?start=.json
yelp_lawrys-the-prime-rib-singapore-singapore?start=.json
yelp_the-burger-bar-singapore-2?start=.json
yelp_clinton-street-baking-company-and-restaurant-singapore?start=.json
yelp_the-good-beer-company-singapore-2?start=.json
yelp_paul-singapore-3?start=.json
yelp_guzman-y-gomez-singapore-5?start=.json
yelp_manhattan-singapore?start=.json
yelp_straitskitchen-singapore?start=.json
yelp_piedra-negra-singapore?start=.json
yelp_el-patio-mexican-restaurant-and-wine-bar-singapore?start=.json
yelp_hatched-singapore-2?start=.json
yelp_25-degrees-singapore?start=.json
yelp_komala-vilas-restaurant-singapore?osq=indian?start=.json
yelp_the-curry-cultures-no-title?osq=indian?start=.json
yelp_grub-singapore?start=.json
yelp_chicken-up-singapore?start=.json
yelp_the-lokal-singapore?start=.json
yelp_delifrance-singapore?start=.json
yelp_boomarang-bistro-and-bar-singapore?start=.json
yelp_osaka-ohsho-singapore?start=.json
yelp_the-steakhouse-singapore?start=.json
yelp_da-paolo-bistrobar-singapore-2?start=.json
yelp_pastamore-italian-restaurant-singapore?start=.json
yelp_privé-café-singapore?start=.json
yelp_the-pelican-seafood-bar-and-grill-singapore?start=.json
yelp_whole-earth-singapore?start=.json
yelp_menya-musashi-singapore?start=.json
yelp_nassim-hill-bakery-bistro-bar-singapore?start=.json
yelp_jing-hua-restaurant-at-the-qun-zhong-eating-house-singapore?start=.json
yelp_db-bistro-moderne-singapore?start=.json
yelp_overeasy-singapore?start=.json
yelp_chopsuey-cafe-singapore?start=.json
yelp_din-tai-fung-singapore-4?start=.json
yelp_the-bar-at-mortons-singapore?start=.json
yelp_penny-university-singapore?start=.json
yelp_del-bistro-107-singapore?start=.json
yelp_tim-ho-wan-singapore-7?start=.json
yelp_namnam-noodle-bar-wheelock-place-singapore?start=.json
yelp_smokeys-bbq-singapore?start=.json
yelp_the-square-singapore?start=.json
yelp_trattoria-italian-kitchen-singapore?start=.json
yelp_saizeriya-ristorante-e-caffe-singapore-4?start=.json
yelp_caf%C3%A9-iguana-singapore-2?start=.json
yelp_privé-chijmes-singapore-2?start=.json
yelp_paul-bakery-tanglin-mall-singapore?start=.json
yelp_sandwich-saigon-cafe-singapore?start=.json
yelp_mex-out-singapore?start=.json
yelp_standing-sushi-bar-singapore?start=.json
yelp_the-beast-singapore?start=.json
yelp_cé-la-vi-club-lounge-singapore?start=.json
yelp_bread-street-kitchen-singapore?start=.json
yelp_high-society-singapore-2?start=.json

In [7]:
len(reviews)

155

### Check the total number of reviews

In [8]:
total_reviews = sum([ len(i['review']) for i in reviews ])
total_reviews

2472

In [9]:
reviews[2].keys()

dict_keys(['aggregateRating', 'review', 'servesCuisine', 'priceRange', 'name', 'address', '@context', 'image', '@type', 'telephone'])

In [10]:
reviews[2]['review'][7]

{'author': 'Tin C.',
 'datePublished': '2015-02-21',
 'description': 'Order at cash desk and pay directly. Cash and credit card works. Staff is neural to customers - neither overly friendly nor rude, mostly preoccupied with cleaning and serving the dishes.\nFood arrives rather quick after paying at the cash desk. My pho was okay but nothing fancy. Asked for extra herbs and bean sprouts - still trying to find them in my bowl... The iced jade tea needed a lot of sugar before it was drinkable.',
 'reviewRating': {'ratingValue': 3}}

In [11]:
reviews[2]['name']

'Namnam Noodle Bar'

In [12]:
reviews[2]['servesCuisine']

'Vietnamese'

### Put the reviews into a data frame

In [13]:
df_list = []
for a_restaurant in reviews:
    
    a_df = pd.DataFrame(a_restaurant['review'])
    a_df['reviewRating'] = a_df['reviewRating'].apply(lambda x: x['ratingValue'])
    a_df['name'] = a_restaurant['name']
    a_df['cuisine'] = a_restaurant['servesCuisine']
    df_list.append(a_df)

reviews_df = pd.concat(df_list)
reviews_df.reset_index(drop=True, inplace=True)
reviews_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>怡</td>
      <td>2018-08-05</td>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
    </tr>
    <tr>
      <th>1</th>
      <td>K C.</td>
      <td>2018-03-09</td>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Nicola L.</td>
      <td>2016-10-13</td>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sisyliana H.</td>
      <td>2016-07-02</td>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jason L.</td>
      <td>2014-11-13</td>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
len(reviews_df)

2472

In [15]:
reviews_df.groupby('cuisine').size()

cuisine
Asian Fusion            70
Bistros                  4
Cafes                  405
Chinese                 84
Dim Sum                 37
French                 146
Indian                 244
Italian                 30
Japanese                53
Malaysian                2
Mexican                 78
Modern European         82
Ramen                   18
Shanghainese            43
Singaporean             15
Tapas/Small Plates      40
Thai                    71
Vietnamese            1050
dtype: int64

### Convert the ratings to positive and negative

In [16]:
reviews_df['PosNeg'] = reviews_df['reviewRating'].apply(lambda x: 1 if x > 3 else -1)
reviews_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
      <th>PosNeg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>怡</td>
      <td>2018-08-05</td>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>K C.</td>
      <td>2018-03-09</td>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Nicola L.</td>
      <td>2016-10-13</td>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sisyliana H.</td>
      <td>2016-07-02</td>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jason L.</td>
      <td>2014-11-13</td>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
reviews_df.groupby('PosNeg').size()

PosNeg
-1     898
 1    1574
dtype: int64

## Select some restaurants for the test set

In [18]:
test = ['Candlenut', 'National Kitchen', 'Quentin', 'The Square', 'Jaan', 'Le Bistrot Du', 'Prego', 'Saveur', 'First Thai',
        'Jai Thai', 'Whole Earth', 'Yhingthai', 'Little Saigon', 'Long Phung', 'NamNam Noodle Bar - Whee', 'Sandwich Saigon']

In [19]:
def select_for_test(name):
    found = False
    for i in test:
        if i in name:
            found = True
            break
    return found

selected = reviews_df['name'].apply(select_for_test)
reviews_test_df = reviews_df[selected]
reviews_test_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
      <th>PosNeg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>93</th>
      <td>Anchisa P.</td>
      <td>2018-10-13</td>
      <td>4.5 stars. 1 Michelin star Modern Peranakan cu...</td>
      <td>4</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Vincent Q.</td>
      <td>2018-10-02</td>
      <td>This is the first time that I have had Peranka...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
    </tr>
    <tr>
      <th>95</th>
      <td>George L.</td>
      <td>2018-07-25</td>
      <td>Came here to try Michelin Star fine dining res...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Sol A.</td>
      <td>2018-04-21</td>
      <td>Dining here was not the experience that I expe...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Aimee K.</td>
      <td>2018-10-14</td>
      <td>I cannot recommend this restaurant enough, the...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
len(reviews_test_df)

364

In [21]:
reviews_test_df.groupby('name').size()

name
Candlenut                             21
First Thai Food                       11
Jaan                                  28
Jai Thai                              17
Le Bistrot Du Sommelier               23
Little Saigon                         28
Long Phung Vietnamese Restaurant      20
NamNam Noodle Bar - Wheelock Place    32
National Kitchen By Violet Oon        20
Prego                                 22
Quentin’s                             12
Sandwich Saigon Cafe                  13
Saveur                                64
The Square                            10
Whole Earth                           27
Yhingthai Palace                      16
dtype: int64

In [22]:
reviews_test_df.groupby('cuisine').size()

cuisine
Asian Fusion     63
French          137
Thai             71
Vietnamese       93
dtype: int64

In [23]:
reviews_test_df.groupby('PosNeg').size()

PosNeg
-1    126
 1    238
dtype: int64

In [24]:
not_selected = [ not i for i in selected ]
reviews_train_df = reviews_df[not_selected]
reviews_train_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
      <th>PosNeg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>怡</td>
      <td>2018-08-05</td>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>K C.</td>
      <td>2018-03-09</td>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Nicola L.</td>
      <td>2016-10-13</td>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sisyliana H.</td>
      <td>2016-07-02</td>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>4</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jason L.</td>
      <td>2014-11-13</td>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>3</td>
      <td>Namnam Noodle Bar</td>
      <td>Vietnamese</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
len(reviews_train_df)

2108

### Load the reviews standard set

In [26]:
std_reviews_df = pd.read_csv(os.path.join('data', 'others', 'train.csv'), encoding = "ISO-8859-1")
std_reviews_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>restaurant_id</th>
      <th>date</th>
      <th>review_id</th>
      <th>stars</th>
      <th>text</th>
      <th>Sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>tr1</td>
      <td>3/13/2014</td>
      <td>revtrain1</td>
      <td>2</td>
      <td>Very disappointed in the customer service. We ...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>1</th>
      <td>tr2</td>
      <td>7/15/2010</td>
      <td>revtrain2</td>
      <td>2</td>
      <td>I really wasn't thrilled with our meal here. T...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>2</th>
      <td>tr2</td>
      <td>12/20/2010</td>
      <td>revtrain3</td>
      <td>1</td>
      <td>STAY AWAY...\n\nWe've been 3 times over the pa...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>3</th>
      <td>tr2</td>
      <td>5/26/2011</td>
      <td>revtrain4</td>
      <td>2</td>
      <td>The food is good and the portions are large.  ...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>4</th>
      <td>tr2</td>
      <td>6/22/2011</td>
      <td>revtrain5</td>
      <td>2</td>
      <td>I feel bad about giving this place such a meh ...</td>
      <td>negative</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
std_reviews_df['PosNeg'] = std_reviews_df['Sentiment'].apply(lambda x: -1 if 'neg' in x else 1)
std_reviews_df.rename(columns={'text': 'description'}, inplace=True)
std_reviews_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>restaurant_id</th>
      <th>date</th>
      <th>review_id</th>
      <th>stars</th>
      <th>description</th>
      <th>Sentiment</th>
      <th>PosNeg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>tr1</td>
      <td>3/13/2014</td>
      <td>revtrain1</td>
      <td>2</td>
      <td>Very disappointed in the customer service. We ...</td>
      <td>negative</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>tr2</td>
      <td>7/15/2010</td>
      <td>revtrain2</td>
      <td>2</td>
      <td>I really wasn't thrilled with our meal here. T...</td>
      <td>negative</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>tr2</td>
      <td>12/20/2010</td>
      <td>revtrain3</td>
      <td>1</td>
      <td>STAY AWAY...\n\nWe've been 3 times over the pa...</td>
      <td>negative</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>tr2</td>
      <td>5/26/2011</td>
      <td>revtrain4</td>
      <td>2</td>
      <td>The food is good and the portions are large.  ...</td>
      <td>negative</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>tr2</td>
      <td>6/22/2011</td>
      <td>revtrain5</td>
      <td>2</td>
      <td>I feel bad about giving this place such a meh ...</td>
      <td>negative</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
len(std_reviews_df)

20329

### Add the standard set of reviews to the train set

In [29]:
reviews_train_df = pd.concat([reviews_train_df[['description', 'PosNeg']], std_reviews_df[['description', 'PosNeg']]])
len(reviews_train_df)

22437

### Pre-process the text data

In [30]:
# Load English tokenizer, tagger, parser, NER and word vectors
nlp = spacy.load('en')

In [31]:
reviews_train_df['description'].values[0]

'Beef ball is good! Try the beef combo pho. The spicy beef soup is a little too spicy.'

In [32]:
doc = nlp(reviews_train_df['description'].values[0])

In [33]:
[ token.pos_ for token in doc ]

['NOUN',
 'NOUN',
 'VERB',
 'ADJ',
 'PUNCT',
 'VERB',
 'DET',
 'NOUN',
 'NOUN',
 'NOUN',
 'PUNCT',
 'DET',
 'ADJ',
 'NOUN',
 'NOUN',
 'VERB',
 'DET',
 'ADJ',
 'ADV',
 'ADJ',
 'PUNCT']

nlp() was not able to run for the complete dataset due to insufficient memory resources. We will use nltk instead.

In [34]:
doc1 = pos_tag(word_tokenize(reviews_train_df['description'].values[0]))
doc1

[('Beef', 'NNP'),
 ('ball', 'NN'),
 ('is', 'VBZ'),
 ('good', 'JJ'),
 ('!', '.'),
 ('Try', 'VB'),
 ('the', 'DT'),
 ('beef', 'NN'),
 ('combo', 'NN'),
 ('pho', 'NN'),
 ('.', '.'),
 ('The', 'DT'),
 ('spicy', 'NN'),
 ('beef', 'NN'),
 ('soup', 'NN'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('little', 'JJ'),
 ('too', 'RB'),
 ('spicy', 'NN'),
 ('.', '.')]

In [35]:
from nltk import WordNetLemmatizer
from nltk.corpus import wordnet

def get_wordnet_pos(treebank_tag):

    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return ''
    
wnl = WordNetLemmatizer()
doc_res = []
for token, postag in doc1:
    pos = get_wordnet_pos(postag)
    if pos:
        doc_res.append((wnl.lemmatize(token, pos=pos), get_wordnet_pos(postag)))
    else:
        doc_res.append((token, postag))
doc_res

[('Beef', 'n'),
 ('ball', 'n'),
 ('be', 'v'),
 ('good', 'a'),
 ('!', '.'),
 ('Try', 'v'),
 ('the', 'DT'),
 ('beef', 'n'),
 ('combo', 'n'),
 ('pho', 'n'),
 ('.', '.'),
 ('The', 'DT'),
 ('spicy', 'n'),
 ('beef', 'n'),
 ('soup', 'n'),
 ('be', 'v'),
 ('a', 'DT'),
 ('little', 'a'),
 ('too', 'r'),
 ('spicy', 'n'),
 ('.', '.')]

In [36]:
[ (wnl.lemmatize(token, pos=get_wordnet_pos(postag)), get_wordnet_pos(postag)) for token, postag in doc1 if get_wordnet_pos(postag) ]

[('Beef', 'n'),
 ('ball', 'n'),
 ('be', 'v'),
 ('good', 'a'),
 ('Try', 'v'),
 ('beef', 'n'),
 ('combo', 'n'),
 ('pho', 'n'),
 ('spicy', 'n'),
 ('beef', 'n'),
 ('soup', 'n'),
 ('be', 'v'),
 ('little', 'a'),
 ('too', 'r'),
 ('spicy', 'n')]

In [37]:
reviews_train_df['desc_tokenised'] = reviews_train_df['description'].apply(
    lambda x: [ wnl.lemmatize(token, pos=get_wordnet_pos(postag))
                for token, postag in pos_tag(word_tokenize(x)) if get_wordnet_pos(postag) ])
reviews_train_df['desc_tokenised'][:5]

0    [Beef, ball, be, good, Try, beef, combo, pho, ...
1    [Egg, noodle, prawn, spare, rib-, delicious, b...
2    [Egg, noodle, prawn, pork, rib, star, Loved, c...
3    [Banh, mi, be, amazing, sandwich, Now, have, h...
4    [Have, be, see, Nam, Nam, ridiculously, long, ...
Name: desc_tokenised, dtype: object

In [38]:
reviews_train_df.groupby('PosNeg').size()

PosNeg
-1    11783
 1    10654
dtype: int64

In [39]:
reviews_test_df['desc_tokenised'] = reviews_test_df['description'].apply(
    lambda x: [ wnl.lemmatize(token, pos=get_wordnet_pos(postag))
                for token, postag in pos_tag(word_tokenize(x)) if get_wordnet_pos(postag) ])
reviews_test_df['desc_tokenised'][:5]

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

93    [star, Michelin, star, Modern, Peranakan, cuis...
94    [be, first, time, have, have, Perankan, food, ...
95    [Came, here, try, Michelin, Star, fine, dining...
96    [Dining, here, be, not, experience, expect, on...
97    [not, recommend, restaurant, enough, food, be,...
Name: desc_tokenised, dtype: object

## Prepare the Train / Test Dataset

In [40]:
reviews_train_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>description</th>
      <th>PosNeg</th>
      <th>desc_tokenised</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>1</td>
      <td>[Beef, ball, be, good, Try, beef, combo, pho, ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>1</td>
      <td>[Egg, noodle, prawn, spare, rib-, delicious, b...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>-1</td>
      <td>[Egg, noodle, prawn, pork, rib, star, Loved, c...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>1</td>
      <td>[Banh, mi, be, amazing, sandwich, Now, have, h...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>-1</td>
      <td>[Have, be, see, Nam, Nam, ridiculously, long, ...</td>
    </tr>
  </tbody>
</table>
</div>

In [41]:
reviews_test_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
      <th>PosNeg</th>
      <th>desc_tokenised</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>93</th>
      <td>Anchisa P.</td>
      <td>2018-10-13</td>
      <td>4.5 stars. 1 Michelin star Modern Peranakan cu...</td>
      <td>4</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[star, Michelin, star, Modern, Peranakan, cuis...</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Vincent Q.</td>
      <td>2018-10-02</td>
      <td>This is the first time that I have had Peranka...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[be, first, time, have, have, Perankan, food, ...</td>
    </tr>
    <tr>
      <th>95</th>
      <td>George L.</td>
      <td>2018-07-25</td>
      <td>Came here to try Michelin Star fine dining res...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
      <td>[Came, here, try, Michelin, Star, fine, dining...</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Sol A.</td>
      <td>2018-04-21</td>
      <td>Dining here was not the experience that I expe...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
      <td>[Dining, here, be, not, experience, expect, on...</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Aimee K.</td>
      <td>2018-10-14</td>
      <td>I cannot recommend this restaurant enough, the...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[not, recommend, restaurant, enough, food, be,...</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
# dict for nltk NB classifier
def word_feats(words):
    return dict([ (word, True) for word in words ])

train_featureset = [ (word_feats(reviews_train_df.iloc[i, 2]), reviews_train_df.iloc[i, 1]) for i in range(len(reviews_train_df)) ]
test_featureset = [ (word_feats(reviews_test_df.iloc[i, 7]), reviews_test_df.iloc[i, 6]) for i in range(len(reviews_test_df)) ]

## Train the Naive-Bayes Classifier

In [43]:
## Naive Bayes Rule using nltk
classifier_nb = NaiveBayesClassifier.train(train_featureset)
classifier_nb.show_most_informative_features(10)  # -10 to see positive

Most Informative Features

                  beggar = True                1 : -1     =     66.0 : 1.0
                 chooser = True                1 : -1     =     65.3 : 1.0
                    rib- = True                1 : -1     =     64.5 : 1.0
                  water- = True                1 : -1     =     64.5 : 1.0
               preoccupy = True               -1 : 1      =     54.0 : 1.0
               drinkable = True               -1 : 1      =     54.0 : 1.0
                 orchard = True               -1 : 1      =     53.3 : 1.0
                Terrible = True               -1 : 1      =     53.3 : 1.0
                 Orchard = True                1 : -1     =     52.0 : 1.0
                     Pho = True               -1 : 1      =     48.4 : 1.0

In [44]:
y_train_pred = [ classifier_nb.classify(word_feats(i)) for i in reviews_train_df['desc_tokenised'] ]
y_test_pred = [ classifier_nb.classify(word_feats(i)) for i in reviews_test_df['desc_tokenised'] ]

In [45]:
y_train_pred[:5]

[1, 1, -1, 1, -1]

In [108]:
cf_matrix_train = confusion_matrix(reviews_train_df['PosNeg'].values, y_train_pred)
# cf_matrix_train = pd.crosstab(reviews_train_df['PosNeg'], pd.Series(y_train_pred),
#                               rownames=['Actual'], colnames=['Predicted'])
cf_matrix_train

array([[11610,   173],
       [ 3691,  6963]])

In [109]:
cf_matrix_test = confusion_matrix(reviews_test_df['PosNeg'].values, y_test_pred)
# cf_matrix_test = pd.crosstab(reviews_test_df['PosNeg'], pd.Series(y_test_pred),
#                               rownames=['Actual'], colnames=['Predicted'], margins=True)
cf_matrix_test

array([[118,   8],
       [121, 117]])

In [111]:
#cfm.sum(axis=1)

In [110]:
# cfm = pd.crosstab(reviews_test_df['PosNeg'], pd.Series(y_test_pred),
#                   rownames=['Actual'], colnames=['Predicted'])
# cf_norm_matrix = (cfm.T / cfm.sum(axis=1)).T
# cf_norm_matrix

In [94]:
# This function prints and plots the confusion matrix. Normalization can be applied by setting `normalize=True`.
def plot_confusion_matrix(cm,title='Confusion matrix', normalize = False, cmap=plt.cm.Blues):

    if normalize:
        # cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        cm = cm / cm.sum(axis = 1)
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    # tick_marks = np.arange(len(classes))
    # plt.xticks(tick_marks, classes, rotation=45)
    # plt.yticks(tick_marks, classes)
    
    tick_marks = np.arange(len(cm.columns))
    plt.xticks(tick_marks, cm.columns, rotation=45)
    plt.yticks(tick_marks, cm.index)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.values.max() / 2.
    # for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        # plt.text(j, i, format(cm[i, j], fmt),
        #          horizontalalignment="center",
        #          color="white" if cm[i, j] > thresh else "black")

    for i, j in itertools.product(range(len(cm)), range(len(cm.columns))):
        plt.text(j, i, format(cm.iloc[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if (cm.iloc[i, j] > thresh) else "black")


    # for index, row in cm.iterrows():
    #     for i, elem in enumerate(row):
    #         plt.text(i, index, format(elem, fmt),
    #                  horizontalalignment="center",
    #                  color="white" if elem > thresh else "black")

    plt.tight_layout()
    # plt.ylabel('True label')
    # plt.xlabel('Predicted label')
    plt.ylabel(cm.index.name)
    plt.xlabel(cm.columns.name)

In [112]:
# plt.figure(figsize=(10, 4))
# plt.subplot(121)
# plot_confusion_matrix(pd.crosstab(reviews_train_df['PosNeg'], pd.Series(y_train_pred),
#                                   rownames=['Actual'], colnames=['Predicted']),
#                       title='Train Confusion matrix')
# plt.subplot(122)
# plot_confusion_matrix(pd.crosstab(reviews_test_df['PosNeg'], pd.Series(y_test_pred),
#                                   rownames=['Actual'], colnames=['Predicted']),
#                       title='Test Confusion matrix')
# plt.show()

In [115]:
print('Train Results\n\n', classification_report(reviews_train_df['PosNeg'].values, y_train_pred, target_names=['Neg', 'Pos']))

Train Results

              precision    recall  f1-score   support

        Neg       0.76      0.99      0.86     11783
        Pos       0.98      0.65      0.78     10654

avg / total       0.86      0.83      0.82     22437

In [116]:
print('Test Results\n\n', classification_report(reviews_test_df['PosNeg'], y_test_pred, target_names=['Neg', 'Pos']))

Test Results

              precision    recall  f1-score   support

        Neg       0.49      0.94      0.65       126
        Pos       0.94      0.49      0.64       238

avg / total       0.78      0.65      0.65       364

## Train the SVM classifier

In [118]:
' '.join(reviews_train_df['desc_tokenised'].values[0])

'Beef ball be good Try beef combo pho spicy beef soup be little too spicy'

In [119]:
reviews_train_df['desc_tokenised'][:5].apply(lambda x: ' '.join(x)).values

array(['Beef ball be good Try beef combo pho spicy beef soup be little too spicy',
       "Egg noodle prawn spare rib- delicious be queue everyone enjoy meal lose star do n't provide water- even purchase other drink only sell bottled water",
       "Egg noodle prawn pork rib star Loved crunchy texture noodle pork rib be well do However prawn come only stomach taste fishy not fresh Gross Portion be also small do n't taste very authentic Also do n't know actual Vietnamese dish look so perhaps 'm ignorant",
       "Banh mi be amazing sandwich Now have have fair share sandwich grow up New Zealand have eat breakfast dinner have bahn mi get taste lot more just mayo pickle Bahn mi be flavor spice place have 're run Vietnamese people place be quite first then get lively be hit Singapore start day then grab sambal chicken have chicken cook sambal CHILLI 's amaze spice do dish place have n't wait have pho be hard get as well shore New Zealand",
       "Have be see Nam Nam ridiculously long queue finally have chance try PS slow know Not sure expect everyone know hard be find good Vietnamese food Singapore say be please tot surprise soup be nice delicate everything taste fresh crisp way Vietnamese food be Spring Roll skin be little bit starchy compare others 've try Pho be delicious course visit try beef slice pork ball beef ball mixed beef beef ball be little touched average beef ball beef slice be lack fat content make turn hard dry very quickly however pork ball be die even have chance try friend banana coconut cream be lovely as well 's good casual place reasonably price bite orchard sandwich Pho start only setback place be service Staff be little rude last cashier always give matter-of-fact-ly tone have idea direction want customer queue pay Was bit chaotic entrance customer be there first time be n't sure order pay be seat queue be seat lead straight cashier However service food come out decent place 's great place grab lunch lunch come free drink be great simple yet tasty lunch"],
      dtype=object)

In [120]:
# Using tf-idf docuement vector as features for the SVM classifier
vectorizer = TfidfVectorizer()
# train_vectors = vectorizer.fit_transform(reviews_train_df['description'].values)
# test_vectors = vectorizer.transform(reviews_test_df['description'].values)
train_vectors = vectorizer.fit_transform(reviews_train_df['desc_tokenised'].apply(lambda x: ' '.join(x)).values)
test_vectors = vectorizer.transform(reviews_test_df['desc_tokenised'].apply(lambda x: ' '.join(x)).values)

In [121]:
train_vectors[0].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [122]:
print ("Train matrix shape " + str(train_vectors.shape))
print ("Test matrix shape " + str(test_vectors.shape))

Train matrix shape (22437, 30745)
Test matrix shape (364, 30745)

In [123]:
print(vectorizer.get_feature_names()[:100])

['00', '00p', '00pm', '01', '02', '04', '05', '06', '07', '08', '09', '0d', '10', '100', '1000', '1007', '104', '10am', '10min', '10mins', '10minutes', '10p', '10pm', '10th', '10x', '11', '11a', '11am', '11p', '11pm', '12', '120', '12am', '12ys', '13', '130', '130th', '13th', '14', '15', '150', '1547736', '155848485', '157cal', '15min', '15mins', '16', '162', '17', '177746751', '18', '18o6avt', '19', '19485', '1955', '1dm_xzefusgbh', '1hr', '1pm', '1st', '20', '200', '2002', '2005', '2006', '2008', '2009', '2010', '20100127chris', '2011', '2012', '2013', '20130212', '2014', '2018', '20mins', '20th', '20yr', '21', '2166', '21st', '22', '22286174', '23', '24', '24045479', '24oz', '25', '250', '25th', '26', '27', '28', '29', '29p', '2a', '2am', '2exiflcfnvhc7albemi2lw', '2fn8mn7uujow', '2hours', '2hr']

In [124]:
# Train the SVM classifier
svm = SVC(C=10000.0, gamma='auto', kernel='rbf')
svm.fit(train_vectors, reviews_train_df['PosNeg'].values)

# C_range = [1e-2, 1, 1e2]
# gamma_range = [1e-1, 1, 1e1]
# param_grid = dict(gamma=gamma_range, C=C_range)
# grid = GridSearchCV(SVC(), param_grid=param_grid)
# grid.fit(train_vectors, reviews_train_df['PosNeg'].values)

SVC(C=10000.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [125]:
y_train_predsvm = svm.predict(train_vectors)
y_test_predsvm = svm.predict(test_vectors)

In [126]:
cf_matrix_trainsvm = confusion_matrix(reviews_train_df['PosNeg'].values, y_train_predsvm)
# cf_matrix_trainsvm = pd.crosstab(reviews_train_df['PosNeg'], pd.Series(y_train_predsvm),
#                               rownames=['Actual'], colnames=['Predicted'], margins=True)
cf_matrix_trainsvm

array([[10994,   789],
       [  684,  9970]])

In [127]:
cf_matrix_testsvm = confusion_matrix(reviews_test_df['PosNeg'].values, y_test_predsvm)
# cf_matrix_testsvm = pd.crosstab(reviews_test_df['PosNeg'], pd.Series(y_test_predsvm),
#                                 rownames=['Actual'], colnames=['Predicted'], margins=True)
cf_matrix_testsvm

array([[101,  25],
       [ 39, 199]])

In [128]:
# plt.figure(figsize=(10, 4))
# plt.subplot(121)
# plot_confusion_matrix(pd.crosstab(reviews_train_df['PosNeg'], pd.Series(y_train_predsvm),
#                               rownames=['Actual'], colnames=['Predicted']),
#                       title='Train Confusion matrix')
# plt.subplot(122)
# plot_confusion_matrix(pd.crosstab(reviews_test_df['PosNeg'], pd.Series(y_test_predsvm),
#                               rownames=['Actual'], colnames=['Predicted']),
#                       title='Test Confusion matrix')
# plt.show()

In [129]:
print('Train Results\n\n', classification_report(reviews_train_df['PosNeg'].values, y_train_predsvm, target_names=['Neg', 'Pos']))

Train Results

              precision    recall  f1-score   support

        Neg       0.94      0.93      0.94     11783
        Pos       0.93      0.94      0.93     10654

avg / total       0.93      0.93      0.93     22437

In [130]:
print('Test Results\n\n', classification_report(reviews_test_df['PosNeg'].values, y_test_predsvm, target_names=['Neg', 'Pos']))

Test Results

              precision    recall  f1-score   support

        Neg       0.72      0.80      0.76       126
        Pos       0.89      0.84      0.86       238

avg / total       0.83      0.82      0.83       364

### Train SVM using bigrams

In [146]:
# Using tf-idf docuement vector as features for the SVM classifier
vectorizer_bigram = TfidfVectorizer(ngram_range = (1, 2))
train_vectors_bg = vectorizer_bigram.fit_transform(reviews_train_df['desc_tokenised'].apply(lambda x: ' '.join(x)).values)
test_vectors_bg = vectorizer_bigram.transform(reviews_test_df['desc_tokenised'].apply(lambda x: ' '.join(x)).values)

In [147]:
print ("Train matrix shape " + str(train_vectors_bg.shape))
print ("Test matrix shape " + str(test_vectors_bg.shape))

Train matrix shape (22437, 592321)
Test matrix shape (364, 592321)

In [148]:
print(vectorizer_bigram.get_feature_names()[:100])

['00', '00 flavored', '00 pm', '00p', '00p learn', '00pm', '00pm eat', '00pm web', '01', '01 16', '01 star', '02', '02 type', '04', '04 22', '05', '05 10', '05 16', '05 former', '05 have', '06', '06 06', '06 mitchell', '07', '07 even', '07 so', '08', '08 28', '09', '09 01', '09 admit', '09 noon', '09 so', '0d', '0d also', '10', '10 00p', '10 10', '10 11', '10 12', '10 15', '10 15min', '10 15mins', '10 18', '10 20', '10 2012', '10 23', '10 26', '10 2am', '10 30', '10 30pm', '10 always', '10 anthony', '10 be', '10 breakfast', '10 buck', '10 burger', '10 church', '10 consider', '10 construction', '10 daily', '10 decide', '10 do', '10 dollar', '10 eat', '10 folk', '10 get', '10 give', '10 great', '10 have', '10 heat', '10 hour', '10 least', '10 leisurely', '10 love', '10 madison', '10 make', '10 min', '10 minute', '10 missable', '10 more', '10 multiple', '10 order', '10 other', '10 oz', '10 pages', '10 people', '10 pizza', '10 pm', '10 possible', '10 price', '10 rating', '10 recommend', '10 say', '10 scale', '10 seat', '10 seater', '10 second', '10 server', '10 set']

In [149]:
# Train the SVM classifier
svm_bg = SVC(C=10000.0, gamma='auto', kernel='rbf')
svm_bg.fit(train_vectors_bg, reviews_train_df['PosNeg'].values)

SVC(C=10000.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [150]:
y_train_predsvmbg = svm_bg.predict(train_vectors_bg)
y_test_predsvmbg = svm_bg.predict(test_vectors_bg)

In [151]:
cf_matrix_trainsvmbg = confusion_matrix(reviews_train_df['PosNeg'].values, y_train_predsvmbg)
cf_matrix_trainsvmbg

array([[11100,   683],
       [ 2496,  8158]])

In [152]:
cf_matrix_testsvmbg = confusion_matrix(reviews_test_df['PosNeg'].values, y_test_predsvmbg)
cf_matrix_testsvmbg

array([[110,  16],
       [ 80, 158]])

In [153]:
print('Train Results\n\n', classification_report(reviews_train_df['PosNeg'].values, y_train_predsvmbg, target_names=['Neg', 'Pos']))

Train Results

              precision    recall  f1-score   support

        Neg       0.82      0.94      0.87     11783
        Pos       0.92      0.77      0.84     10654

avg / total       0.87      0.86      0.86     22437

In [154]:
print('Test Results\n\n', classification_report(reviews_test_df['PosNeg'].values, y_test_predsvmbg, target_names=['Neg', 'Pos']))

Test Results

              precision    recall  f1-score   support

        Neg       0.58      0.87      0.70       126
        Pos       0.91      0.66      0.77       238

avg / total       0.79      0.74      0.74       364

### Use the negation feature with SVM

In [158]:
def neg_tag(text):
    transformed = re.sub(r"\b(?:never|nothing|nowhere|noone|none|not|haven't|hasn't|hasnt|hadn't|hadnt|can't|cant|couldn't|couldnt|shouldn't|shouldnt|won't|wont|wouldn't|wouldnt|don't|dont|doesn't|doesnt|didn't|didnt|isnt|isn't|aren't|arent|aint|ain't|hardly|seldom)\b[\w\s]+[^\w\s]",
                         lambda match: re.sub(r'(\s+)(\w+)', r'\1NEG_\2', match.group(0)), text, flags=re.IGNORECASE)
    return(transformed)

In [160]:
reviews_train_df['desc_neg_tokenised'] = reviews_train_df['description'].apply(lambda x: word_tokenize(neg_tag(x)))
reviews_train_df['desc_neg_tokenised'][:5]

0    [Beef, ball, is, good, !, Try, the, beef, comb...
1    [Egg, noodle, with, prawns, and, spare, rib-, ...
2    [Egg, noodles, with, prawns, and, pork, rib, (...
3    [Banh, mi, is, an, amazing, sandwich, ..., Now...
4    [Have, been, seeing, Nam, Nam, with, ridiculou...
Name: desc_neg_tokenised, dtype: object

In [161]:
reviews_train_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>description</th>
      <th>PosNeg</th>
      <th>desc_tokenised</th>
      <th>pred_NB</th>
      <th>pred_SVM</th>
      <th>desc_neg_tokenised</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>1</td>
      <td>[Beef, ball, be, good, Try, beef, combo, pho, ...</td>
      <td>1</td>
      <td>1</td>
      <td>[Beef, ball, is, good, !, Try, the, beef, comb...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>1</td>
      <td>[Egg, noodle, prawn, spare, rib-, delicious, b...</td>
      <td>1</td>
      <td>1</td>
      <td>[Egg, noodle, with, prawns, and, spare, rib-, ...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>-1</td>
      <td>[Egg, noodle, prawn, pork, rib, star, Loved, c...</td>
      <td>-1</td>
      <td>-1</td>
      <td>[Egg, noodles, with, prawns, and, pork, rib, (...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>1</td>
      <td>[Banh, mi, be, amazing, sandwich, Now, have, h...</td>
      <td>1</td>
      <td>1</td>
      <td>[Banh, mi, is, an, amazing, sandwich, ..., Now...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>-1</td>
      <td>[Have, be, see, Nam, Nam, ridiculously, long, ...</td>
      <td>-1</td>
      <td>-1</td>
      <td>[Have, been, seeing, Nam, Nam, with, ridiculou...</td>
    </tr>
  </tbody>
</table>
</div>

In [162]:
reviews_test_df['desc_neg_tokenised'] = reviews_test_df['description'].apply(lambda x: word_tokenize(neg_tag(x)))
reviews_test_df['desc_neg_tokenised'][:5]

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

93    [4.5, stars, ., 1, Michelin, star, Modern, Per...
94    [This, is, the, first, time, that, I, have, ha...
95    [Came, here, to, try, Michelin, Star, fine, di...
96    [Dining, here, was, not, NEG_the, NEG_experien...
97    [I, can, not, recommend, this, restaurant, eno...
Name: desc_neg_tokenised, dtype: object

In [163]:
train_vectors_neg = vectorizer.fit_transform(reviews_train_df['desc_neg_tokenised'].apply(lambda x: ' '.join(x)).values)
test_vectors_neg = vectorizer.transform(reviews_test_df['desc_neg_tokenised'].apply(lambda x: ' '.join(x)).values)

In [164]:
# Train the SVM classifier
svm_neg = SVC(C=10000.0, gamma='auto', kernel='rbf')
svm_neg.fit(train_vectors_neg, reviews_train_df['PosNeg'].values)

SVC(C=10000.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [166]:
y_train_predsvmng = svm_neg.predict(train_vectors_neg)
y_test_predsvmng = svm_neg.predict(test_vectors_neg)

In [168]:
cf_matrix_trainsvmneg = confusion_matrix(reviews_train_df['PosNeg'].values, y_train_predsvmng)
cf_matrix_trainsvmneg

array([[11052,   731],
       [  692,  9962]])

In [169]:
cf_matrix_testsvmneg = confusion_matrix(reviews_test_df['PosNeg'].values, y_test_predsvmng)
cf_matrix_testsvmneg

array([[100,  26],
       [ 35, 203]])

In [170]:
print('Train Results\n\n', classification_report(reviews_train_df['PosNeg'].values, y_train_predsvmng, target_names=['Neg', 'Pos']))

Train Results

              precision    recall  f1-score   support

        Neg       0.94      0.94      0.94     11783
        Pos       0.93      0.94      0.93     10654

avg / total       0.94      0.94      0.94     22437

In [172]:
print('Test Results\n\n', classification_report(reviews_test_df['PosNeg'].values, y_test_predsvmng, target_names=['Neg', 'Pos']))

Test Results

              precision    recall  f1-score   support

        Neg       0.74      0.79      0.77       126
        Pos       0.89      0.85      0.87       238

avg / total       0.84      0.83      0.83       364

## Results

In [131]:
reviews_train_df['pred_NB'] = y_train_pred
reviews_train_df['pred_SVM'] = y_train_predsvm
reviews_train_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>description</th>
      <th>PosNeg</th>
      <th>desc_tokenised</th>
      <th>pred_NB</th>
      <th>pred_SVM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Beef ball is good! Try the beef combo pho. The...</td>
      <td>1</td>
      <td>[Beef, ball, be, good, Try, beef, combo, pho, ...</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Egg noodle with prawns and spare rib- deliciou...</td>
      <td>1</td>
      <td>[Egg, noodle, prawn, spare, rib-, delicious, b...</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Egg noodles with prawns and pork rib ($11) - 3...</td>
      <td>-1</td>
      <td>[Egg, noodle, prawn, pork, rib, star, Loved, c...</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Banh mi is an amazing sandwich... Now I have h...</td>
      <td>1</td>
      <td>[Banh, mi, be, amazing, sandwich, Now, have, h...</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Have been seeing Nam Nam with ridiculously lon...</td>
      <td>-1</td>
      <td>[Have, be, see, Nam, Nam, ridiculously, long, ...</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>

In [132]:
reviews_test_df['pred_NB'] = y_test_pred
reviews_test_df['pred_SVM'] = y_test_predsvm
reviews_test_df.head()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>datePublished</th>
      <th>description</th>
      <th>reviewRating</th>
      <th>name</th>
      <th>cuisine</th>
      <th>PosNeg</th>
      <th>desc_tokenised</th>
      <th>pred_NB</th>
      <th>pred_SVM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>93</th>
      <td>Anchisa P.</td>
      <td>2018-10-13</td>
      <td>4.5 stars. 1 Michelin star Modern Peranakan cu...</td>
      <td>4</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[star, Michelin, star, Modern, Peranakan, cuis...</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Vincent Q.</td>
      <td>2018-10-02</td>
      <td>This is the first time that I have had Peranka...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[be, first, time, have, have, Perankan, food, ...</td>
      <td>-1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>95</th>
      <td>George L.</td>
      <td>2018-07-25</td>
      <td>Came here to try Michelin Star fine dining res...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
      <td>[Came, here, try, Michelin, Star, fine, dining...</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Sol A.</td>
      <td>2018-04-21</td>
      <td>Dining here was not the experience that I expe...</td>
      <td>3</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>-1</td>
      <td>[Dining, here, be, not, experience, expect, on...</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Aimee K.</td>
      <td>2018-10-14</td>
      <td>I cannot recommend this restaurant enough, the...</td>
      <td>5</td>
      <td>Candlenut</td>
      <td>Asian Fusion</td>
      <td>1</td>
      <td>[not, recommend, restaurant, enough, food, be,...</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [133]:
# Save to csv file
reviews_train_df.to_csv(os.path.join('data', 'results', 'train_scored.csv'), index=False)
reviews_test_df.to_csv(os.path.join('data', 'results', 'test_scored.csv'), index=False)

In [134]:
reviews_test_df.groupby('name').groups

{'Candlenut': Int64Index([ 93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
             106, 107, 108, 109, 110, 111, 112, 113],
            dtype='int64'),
 'First Thai Food': Int64Index([238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248], dtype='int64'),
 'Jaan': Int64Index([350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362,
             363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375,
             376, 377],
            dtype='int64'),
 'Jai Thai': Int64Index([865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877,
             878, 879, 880, 881],
            dtype='int64'),
 'Le Bistrot Du Sommelier': Int64Index([316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328,
             329, 330, 331, 332, 333, 334, 335, 336, 337, 338],
            dtype='int64'),
 'Little Saigon': Int64Index([ 260,  261,  262,  263,  264,  265,  266,  267,  268,  269,  270,
              271,  272,  273, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207,
             1208, 1209, 1210, 1211, 1212, 1213],
            dtype='int64'),
 'Long Phung Vietnamese Restaurant': Int64Index([218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230,
             231, 232, 233, 234, 235, 236, 237],
            dtype='int64'),
 'NamNam Noodle Bar - Wheelock Place': Int64Index([2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269,
             2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280,
             2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290],
            dtype='int64'),
 'National Kitchen By Violet Oon': Int64Index([718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730,
             731, 732, 733, 734, 735, 736, 737],
            dtype='int64'),
 'Prego': Int64Index([1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441,
             1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452],
            dtype='int64'),
 'Quentin’s': Int64Index([1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509,
             1510],
            dtype='int64'),
 'Sandwich Saigon Cafe': Int64Index([2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412,
             2413, 2414],
            dtype='int64'),
 'Saveur': Int64Index([1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288,
             1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299,
             1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310,
             1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321,
             1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332,
             1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341],
            dtype='int64'),
 'The Square': Int64Index([764, 765, 766, 767, 768, 2302, 2303, 2304, 2305, 2306], dtype='int64'),
 'Whole Earth': Int64Index([2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053,
             2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064,
             2065, 2066, 2067, 2068, 2069],
            dtype='int64'),
 'Yhingthai Palace': Int64Index([802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814,
             815, 816, 817],
            dtype='int64')}

In [135]:
# Create json
test_json = {}

cuisine_group = reviews_test_df.groupby('cuisine').groups

for a_cuisine in cuisine_group.keys():

    restaurant_group = reviews_test_df.loc[cuisine_group[a_cuisine], :].groupby('name').groups
    cuisine_list = []
    for a_restaurant in restaurant_group.keys():
        d = {}
        d['name'] = a_restaurant
        reviews_list = reviews_test_df.loc[restaurant_group[a_restaurant], ['description', 'pred_SVM']].to_dict('records')
        d['nb_reviews'] = len(reviews_list)
        d['reviews'] = reviews_list
        cuisine_list.append(d)
    test_json[a_cuisine] = cuisine_list

In [136]:
test_json.keys()

dict_keys(['Asian Fusion', 'French', 'Thai', 'Vietnamese'])

In [137]:
len(test_json['French'])

In [138]:
[ i['name'] for i in test_json['French'] ]

['Jaan', 'Le Bistrot Du Sommelier', 'Prego', 'Saveur']

In [139]:
for i in test_json.keys():
    print(i)
    print([ j['name'] for j in test_json[i] ])

Asian Fusion
['Candlenut', 'National Kitchen By Violet Oon', 'Quentin’s', 'The Square']
French
['Jaan', 'Le Bistrot Du Sommelier', 'Prego', 'Saveur']
Thai
['First Thai Food', 'Jai Thai', 'Whole Earth', 'Yhingthai Palace']
Vietnamese
['Little Saigon', 'Long Phung Vietnamese Restaurant', 'NamNam Noodle Bar - Wheelock Place', 'Sandwich Saigon Cafe']

In [140]:
with open(os.path.join('data', 'results', 'day2-genesis-test.json'), 'w') as outfile:
    json.dump(test_json, outfile)